html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#map-container {
	height: 100%;
	width: 100%;
}

header {
	position: absolute;
	z-index: 1;
}

footer {
	position: absolute;
}

ul {
	position: absolute;
	left: 40%;
	z-index: 1;
}